<%=link_to 'Log Out', dologout_path, :class => 'logout'%>
<%= render 'printflashes' if !flash.empty? %>
<h2>Hello <%=link_to @cuser.fullname, viewplaylist_path(session[:id])%></h2>
<table>
<thead>
  <th>Artist</th>
  <th>Title</th>
  <th>Times Added</th>
  <th>add to playlist</th>
</thead>
<%@songs.each do |song|%>
  <tbody>
  <td><%=song.artist%></td>
  <td><%=link_to song.title, viewsong_path(song.id)%></td>
  <td><%=song.playcount%></td>
  <td><%=link_to 'Add To Playlist', addtolist_path(song.id)%></td>
  </tbody>
<%end%>
</table>

<form action="/newsong" accept-charset="UTF-8" method="post">
<input name="utf8" value="✓" type="hidden">
<%=token_tag nil%>
  <div class="ns">
    <label for="title">title</label>
    <input name="song[title]" type="text">
  </div>
  <div class="ns">
    <label for="artist">artist</label>
    <input name="song[artist]" type="artist">
  </div>
  <div class="actions">
    <input name="commit" value="Add Song" type="submit">
  </div>
</form>